doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Produkt
    body
        //if products
            - var product = products;
            - var brand = if product.brand;
        form(action="/productEndpoint", method="post")
            label(for="brand") Brand:
            input(type="text" id="brand" value="Test")
            br
            label(for="price") Price: 
            input(type="number" id="price")
            br
            label(for="date") Date: 
            input(type="date" id="date")
            br
            label(for="location") Location: 
            input(type="text" id="location")
            br
            button(type="submit") Add product
