form(action="/login/create", method="POST")
    label username 
    input(type="text", name="username")
    label password 
    input(type="password", name="password")
    button(type="submit") Create