doctype html
html(lang="en")
    head 
        title Lagersystem - Produkter  
        link(rel="stylesheet", href="/styles/style.css")
        link(rel="stylesheet", href="/styles/frontpage.css")
        script(src="/script/request.js" defer) 
    body
        include header 

        section(class="firstPart")
            h1 Lorem ipsum
            i "Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            br 
            i Voluptatibus nesciunt nemo amet saepe corrupti accusantium ad iusto tempore?"
        section(class="secondPart")
            h1 Lorem ipsum
            i "Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            br 
            i Voluptatibus nesciunt nemo amet saepe corrupti accusantium ad iusto tempore?"
        section(class="thirdPart")
            h1 Lorem ipsum
            i "Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
            br 
            i Voluptatibus nesciunt nemo amet saepe corrupti accusantium ad iusto tempore?"
        include footer