html(lang="en")
    head 
        link(rel="stylesheet", href="/styles/style.css")
    body
        header(class="nice-header")
            h1 Lagersystem
            ul 
                li 
                    a Forside
                li 
                    a(href="/products") Produkter
                li 
                    a(href="/mail") Mail