html(lang="en")
    head 
        link(rel="stylesheet", href="/styles/style.css")
    body
        header(class="nice-header")
            h1 Lagersystem
            ul 
                li 
                    a Forside
                li 
                    a Produkter
                li 
                    a Andet...
                li     
                    form(action="/logout", method="POST")
                        input(type="submit" value="Logout") 
            
        