html(lang="en")
    head 
        link(rel="stylesheet", href="/styles/header.css")
        link(rel="stylesheet", href="/styles/style.css")
        script(src="/script/request.js" defer)
    body
        header(class="nice-header")
            h1 Lagersystem
            ul
                li 
                    a(href="/sales") Salg
                li 
                    a(href="/inventory") Produkter
                li 
                    a(href="/mail") Mail
                li
                    a(href="/transactions") Transactions
                li     
                    form(action="/login/logout", method="POST")
                        input(class="loginButton" type="submit" value="Logout") 
                
            
        
