doctype html
html(lang="en")
    head 
        title Lagersystem - Produkter  
        link(rel="stylesheet", href="/styles/style.css")
    body
        include header
        if showAlert
            div(class="alert")
                alert
                    span.closebtn(onclick="this.parentElement.parentElement.style.display='none';") &times;
                    strong Alert: Wrong username or password! 🚨 

        div(class="loginContainer")
            div(class="loginMain")
                form(action="/postLogin", method="POST")
                    label Username 
                    br
                    br
                    input( type="text", name="username")
                    br
                    br
                    label Password 
                    br
                    br 
                    input(type="password", name="password")
                    br
                    br
                    button(type="submit") Sign in
                br
                a(href="/createaccount") Create account 
        
        include footer 
