doctype html
html(lang="en")
    head 
        title Lagersystem - Produkter  
        link(rel="stylesheet", href="/styles/style.css")
        script(src="/script/loginScript.js" defer)
    body
        include header
        div(class="loginContainer")
            div(class="loginMain")
                form(id="form")
                    label Username 
                    br
                    br
                    input(type="text", name="username" id="username")
                    br
                    br
                    label Password 
                    br
                    br 
                    input(type="password", name="password" id="password")
                    br
                    br
                    button(type="submit") Sign in
                    br
                    br
                    a(href="/login/create") Create account 
        include footer 
