form(action="/login", method="POST")
    label username 
    input(type="text", name="username")
    label password 
    input(type="password", name="password")
    button(type="submit") Sign in
a(href="/login/create") Create account 