doctype html
html(lang="en")
    head 
        title Lagersystem - Produkter  
        link(rel="stylesheet", href="/styles/style.css")
        script(src="/script/mailViewScript.js" defer) 
    body
        include header
        main 
            button(onclick="addMail()") Tilføj E-mail
            table 
                    thead
                        tr 
                            th Mail 
                            th Navn 
                            th Rediger 
                            th Slet
                    tbody
                        // each mail in mails
                            tr
                                td= mail.mail
                                td= mail.navn
                                td
                                    button(onclick=`updateMail('${product.getId()}')`) Rediger
                                td
                                    button(onclick=`deleteMail('${product.getId()}')`) Slet
        include footer