doctype html
html(lang="en")
    head 
        title Lagersystem - Produkter  
        link(rel="stylesheet", href="/styles/style.css")

    body
        header(class="nice-header")
            h1 Lagersystem
            ul 
                li 
                    a Forside
                li 
                    a Produkter
                li 
                    a Andet...

        main 
            select Filtering
                option Alle
                option Mærke 1
                option Mærke 2
                option Mærke 3
            
            button Register produkt

            table 
                tr 
                    th Mærke 
                    th Mængde 
                    th Pris 
                    th Udløbningsdato 
                    th Lokation
                    th Rediger 
                    th Slet
                tr
                    td Tuborg Classic
                    td 18 stk.
                    td 50 kr.
                    td ons. 15 nov. 2023
                    td Skåde
                    td
                        button Knap 
                    td
                        button Knap

        footer 
            p Lagersystem - copyrights reserved since 2023