html
    head 
        title LagerSystem - Produkter  
    body
        header
            h1 LagerSystem
            ul 
                li Forside
                li Produkter
                li Andet menu punkt...

        button Filtering
        ul
            li
                button(onclick="") Mærke A
            li
                button(onclick="") Mærke B
            li
                button(onclick="") Mærke C
        
        button Register produkt

        table 
            tr 
                th Mærke 
                th Mængde 
                th Pris 
                th Udløbningsdato 
                th Lokation
            tr
                td Tuborg Classic
                td 18 stk.
                td 50 kr.
                td ons. 15 nov. 2023
                td 3 rum til venstre
                td
                    button Rediger 
                td
                    button Slet

        footer 
            p Lagersystem - copyrights reserved since 2023