.firstPart {
    text-align: center !important;
    background-color: rgb(195, 195, 195);
    color: white; 
    padding: 25px; 
    margin: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.secondPart {
    padding: 40px; 
    margin: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.thirdPart {
    text-align: right !important;
    background-color: rgb(195, 195, 195);
    color: white; 
    padding: 40px; 
    margin: 0px;
}