/* Header settings */
.nice-header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.nice-header h1 {
    margin: 0;
}

.nice-header ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.nice-header li {
    display: inline-block;
    margin-right: 20px;
}

.nice-header a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    transition: color 0.3s ease;
}

.nice-header a:hover {
    color: #ffd700;
}

.loginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    margin: 25px;
}

.loginMain {
    display: block;
    text-align: center;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}