/* login settings */
.loginContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  margin: 25px;
}

.loginMain {
  display: block;
  text-align: center;
  width: 300px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.loginMain input{
    font-weight: 300;
    text-align: left;
    display: block;
    margin: auto;
    width: 80%; /* Adjust the width as needed */
    padding: 8px;
    border: 1px solid rgb(150, 150, 150);
    border-radius: 5px;
  }

  .loginButton {
    font-size: 16px;
    color: white;
  }

  .loginButton a:hover {
    color: #ffd700;
  }

  .loginMain a {
    color: #333;
    font-size: small;
    font-weight: bold;
    display: block;
    text-align: center;
    text-decoration: none;
  }
  
  .loginMain label{
    font-weight: bold;
  }
